SspEngineClient/Risk.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Risk">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Name"/>
        <xs:element type="xs:string" name="Occupation"/>
        <xs:element name="Address">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Address1"/>
              <xs:element type="xs:string" name="Postcode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="KeptPostcode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>